.error
  color: $themeErrorColor
  font-size: .75em

&.input.input
.input.input
  width: 100%
  display: block
  margin-bottom: $themeElementPadding * 0.5

  .valid
    border-color: $themeGoodColor

  .invalid
    border-color: $themeErrorColor

